<!DOCTYPE html>
<html>
<head>
    <title>URL Analyzer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🔍 URL Analyzer</h1>

<form method="POST">
    <input type="text" name="url" placeholder="Enter URL" required>
    <button type="submit">Analyze</button>
</form>

{% if result %}
<div class="box">
    <p><b>URL:</b> {{ result.url }}</p>
    <p><b>Domain:</b> {{ result.domain }}</p>
    <p><b>Domain Age:</b> {{ result.age }} days</p>

    <p><b>Score:</b> {{ result.vt.score }}/100</p>

    {% if result.vt.status == "MALICIOUS" %}
        <p class="danger">🔴 MALICIOUS</p>
    {% elif result.vt.status == "SUSPICIOUS" %}
        <p style="color:orange;">⚠ SUSPICIOUS</p>
    {% elif result.vt.status == "SAFE" %}
        <p class="safe">🟢 SAFE</p>
    {% else %}
        <p style="color:gray;">UNKNOWN</p>
    {% endif %}
</div>
{% endif %}