<!DOCTYPE html>
<html>
<head>
    <title>URL Analyzer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🔍 URL Analyzer</h1>

<form method="POST">
    <input type="text" name="url" placeholder="Enter URL" required>
    <button type="submit">Analyze</button>
</form>

{% if result %}
<div class="box">
    <p><b>URL:</b> {{ result.url }}</p>
    <p><b>Domain:</b> {{ result.domain }}</p>

    {% if result.vt.status == "MALICIOUS" %}
        <h2 style="color:red;">🔴 MALICIOUS</h2>
    {% else %}
        <h2 style="color:green;">🟢 SAFE</h2>
    {% endif %}
</div>
{% endif %}